@model BookingRoom.Models.Blog

@{
    ViewBag.Title = "Xóa Bài Viết";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4>Bạn thực sự muốn xóa bài viết này?</h4>
                <p class="text-danger">Lưu ý: Bài viết sẽ xóa vĩnh viễn</p>
                <hr />
                <h5>Bài Viết: <span class="text-success">@Html.DisplayFor(model => model.Title)</span></h5>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color mt-4">
                        <input type="submit" value="Đồng Ý Xóa" class="btn btn-primary btn-sm" />
                        <a href="@Url.Action("Blogs","Admin")" class="btn btn-secondary btn-sm">Quay Lại</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
