@model IEnumerable<BookingRoom.Models.House>

@{
    ViewBag.Title = "Quản Trị";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<p class="text-primary">Chọn chức năng bên trái để thực hiện</p>